@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background-color: coral;
  height: 100vh; /* сто процентов по высоте экрана */
  display: flex; /* выравниваем все */
  justify-content: center;
  align-items: center;
}
.container { /* Класс,который оборачивает все слайды */
  width: 100%;
  display: flex;
  padding: 20px;
}
.slide {
 height: 90vh;/* 80 процентов от видимой части экрана(адаптив) */
 border-radius: 20px; /* Закругляем слайды */
 margin: 10px;/* Расстояние между слайдами */
 cursor: pointer; /* При наведении меняем курсор */
 color: cornsilk; /* Для текста */
 flex: 1;/* Каждый элемент растягивается пропорционально(1) */
 background-size: cover;
 background-position:center;
 background-repeat: no-repeat;
 position: relative;
 transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
opacity: 1;
transition: opacity 0.3s ease-in 0.4s;
}